<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugas.jeksonrudi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".duku"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".angkasa"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".cabecabean"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".kakigajah"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ketakan"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".liontin"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".monas"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".sapiderman"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".SelamatBerhasil"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".tikus_kantor"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".wayang"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
